
    <footer class="footer-last">
        <img src="./res/Group 43.svg">
        <div class="footer-content">
            <div class="footer-title">
                CONTACT US
            </div>
            <div class="footer-links">
                <ul class="footer-list">
                    <li>Phone No. 1</li>
                    <li>Phone No. 2</li>
                    <li>Phone No. 3</li>
                </ul>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-title">
                SERVICES
            </div>
            <div class="footer-links">
                <ul class="footer-list">
                    <li>Contact Us</li>
                    <li>Ordering & Payment</li>
                    <li>Shipping</li>
                    <li>Returns</li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-title">
                INFORMATION
            </div>
            <div class="footer-links">
                <ul class="footer-list">
                    <li>Work With Us</li>
                    <li>Privacy Policies</li>
                    <li>Terms & Conditions</li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="js/index.js"></script>
</body>
</html>