<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body id="scroll">
    <nav>
        <div class="title-refill">
            <img src="./res/icon/Icon ionic-ios-leaf.svg" alt="" class="logo">
            <span class="refill">Refill</span>
        </div>
        <div class="menu-btn">
            <div class="menu-btn_lines"></div>
        </div>
        <div class="buttons">
            
            <ul class="nav-links">
                <li><a class="links" href="#home-sec">Home</a></li>
                <li><a class="links" href="/blog">Blog</a></li>
                <li><a class="links" href="#donate-sec">Donate</a></li>
                <li><a class="links" href="#contact-sec">Contact Us</a></li>
            </ul>
            
            
        </div>

        <div class="hidden">
            <ul class="nav-links-hidden">
                <li><a class="links-hidden" href="#home-sec">Home</a></li>
                <li><a class="links-hidden" href="/blog">Blog</a></li>
                <li><a class="links-hidden" href="#donate-sec">Donate</a></li>
                <li><a class="links-hidden" href="#contact-sec">Contact Us</a></li>
            </ul>
        </div>
    </nav>