<%- include("header"); -%>




    <section class="hero-section" id="home-sec">
        <div class="hero-page">
            <h1 class="hero-title">SUSTAINABLE DEVELOPMENT</h1><br>
            <p class="section-content">Act Responsible, Think Sustainable. <br>
                Together, let's make a better world for the next GENERATIONs...<br>
                Keep the Earth clean by going green...</p>
            <div class="hero-buttons">
                <a class="donate" href="#donate-sec">Donate</a>
                <a class="blog" href="/blog">Write a Blog</a>
            </div>
        </div>

        <img class="hero-image" src="./res/Group 39.png" alt="">

        <div class="hero-bottom">
            <img class="hero-bottom-img" src="./res/homepage-up.svg" alt="">
            <img class="hero-bottom-img" src="./res/homepage-down.svg" alt="">
        </div>
        </div>
    </section>


    <!-------------------------------------->

    <section class="whatwedo">
        <div class="what-we-do">
            <h2 class="heading">What we do??</h2>
            <div class="card">
                <div class="cards card-1">
                    <img src="./res/card-top.svg" class="card-top-img">
                    <div class="cards-header">
                        <h3 class="what-we-do-heading">End Hunger</h3>
                        <img class="header-img" src="./res/icon/Icon awesome-tree.svg" alt="1">
                    </div>
                    <p class="desc">Providing packaged food to poor people
                        and train farmers to grow nutrition-specific crops
                        throughout the year to end hunger issues.</p>
                </div>
                <div class="cards card-2">
                    <img src="./res/card-top.svg" class="card-top-img">
                    <div class="cards-header">
                        <h3 class="what-we-do-heading">Good Health</h3>
                        <img class="header-img" src="./res/icon/Icon simple-electron.svg" alt="2">
                    </div>
                    <p class="desc">Providing health awareness and
                        financial assistance for those in need.
                    </p>
                </div>
                <div class="cards card-3">
                    <img src="./res/card-top.svg" class="card-top-img">
                    <div class="cards-header">
                        <h3 class="what-we-do-heading">Free Education</h3>
                        <img class="header-img" src="./res/icon/Icon awesome-people-carry.svg" alt="3">
                    </div>
                    <p class="desc">Ensuring that remote children are
                        receiving free public education, since this is
                        their right.</p>
                </div>
                <div class="cards card-4">
                    <img src="./res/card-top.svg" class="card-top-img">
                    <div class="cards-header">
                        <h3 class="what-we-do-heading">Clean Water</h3>
                        <img class="header-img" src="./res/icon/Icon awesome-tree.svg" alt="1">
                    </div>
                    <p class="desc">Providing clean drinking water to slums or remote areas.
                        Promoting water replenishment and rainwater harvesting.</p>
                </div>
                <div class="cards card-5">
                    <img src="./res/card-top.svg" class="card-top-img">
                    <div class="cards-header">
                        <h3 class="what-we-do-heading">Emissionless Transport</h3>
                        <img class="header-img" src="./res/icon/Icon simple-electron.svg" alt="2">
                    </div>
                    <p class="desc">Developing a community for environmental
                        sustainability and encouraging emission-free
                        transportation.
                    </p>
                </div>
                <div class="cards card-5">
                    <img src="./res/card-top.svg" class="card-top-img">
                    <div class="cards-header">
                        <h3 class="what-we-do-heading">Tree Plantation</h3>
                        <img class="header-img" src="./res/icon/Icon simple-electron.svg" alt="2">
                    </div>
                    <p class="desc">Organising tree planting and
                        afforestation events regularly and hosts
                        a yearly special fair called "Tree-O-Fair".
                    </p>
                </div>

                <div class="cards card-6">
                    <img src="./res/card-top.svg" class="card-top-img">
                    <div class="cards-header">
                        <h3 class="what-we-do-heading">Rallies and awareness</h3>
                        <img class="header-img" src="./res/icon/Icon awesome-people-carry.svg" alt="3">
                    </div>
                    <p class="desc">Organising rallies to
                        build awareness in the peoples
                        for the sustainable
                        development.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- -------------------------------------- know more section----- -->

    <section class="know-more">
        <div class="know-more-title">Know more about Sustainable Development !!</div>
        <a href="#"><img class="navigation-image" src="./res/navigation.png" alt="" srcset=""></a>
        <div class="scroll-down">
            <div class="or">OR</div>
            <img src="./res/scrollimg.png" class="scrollimg">
            <div class="scroll">scroll down</div>
        </div>
    </section>
    <!-------------------------motto start arya---------------------------->
    <section class="motto">

        <div class="motto-container">
            <img src="./res/moto-top.svg" alt="" srcset="" class="motto-top">
            <div class="motto-title">
                Our Motto!!
            </div>
            <div class="motto-content">
                <div class="motto-one motto-div-right"><img src="./res/undraw_Art_re_vj2w.svg"
                        class="motto-div-img" alt="">
                    <p><span class="green-motto">Reducing Deforestation</span> by X% by the end of 2025</p>
                </div>
                <div class="motto-two motto-div-right">
                    <p><span class="green-motto">Reducing Carbon Emission</span> by Y% by the end of 2021</p><img
                        class="motto-div-img" src="./res/undraw_electric_car_b7hl.svg" alt="">
                </div>
                <div class="motto-three motto-div-right"><img src="./res/third.svg" class="motto-div-img" alt="">
                    <p><span class="green-motto">Selling Z trees</span> by the end of 2021</p>
                </div>
            </div>
            <img src="./res/wave-haikei.svg" alt="" srcset="" class="motto-bottom">
        </div>
    </section>

    <!------------------------motto section end arya----------------------------->
    <!-- ----------------------- donate section (sneha) ---------------- -->
    <section class="donation-section" id="donate-sec">
        <div class="donation">
            <h2 class="donation-heading">Your Donation Will Lead To The Better Future !!</h2>
            <div class="donation-body">
                <div class="writing">
                    <p>There’s a current rise in carbon emission and decrease in
                        plantation of trees. Especially during this pandemic, tree
                        plantation is not frequent. The awareness towards
                        environmental sources has decreased. Through your
                        donation we will ensure the awareness among people and
                        will fulfill our motto.</p>
                    <br>
                    <a class="donate-button" href="#">Donate Now</a>

                </div>
                <div class="icon"><img class="icon" src="./res/donation-img.svg" alt=""></div>
            </div>
        </div>
    </section>

    <!-- ----------------------- donate section  end(sneha) ---------------- -->
    <!------------------------opinion------------------------------->
    <section class="opinion">
        <img src="./res/layeredwave.svg" alt="" srcset="" class="opinion-top">
        <div class="opinion-div">
            <div class="opinion-container">
                <div class="opinion-content">
                    <div class="opinion-title">
                        <h2>Wanna Post Your Opinion :))</h2>
                    </div>
                    <div class="opinion-para">There's a current rise in carbon emission and decrease in
                        plantation of trees. Especially during this pandemic, tree
                        plantation is not frequent.The awareness towards
                        environmental sources has decreased. Through your
                        donation we will ensure the awareness among people and
                        will fulfill our motto.</div>
                    <div class="opinion-blog-button">
                        <a class="opinion-anchor" href="/blog">Write a Blog</a>
                    </div>
                </div>

                <img src="./res/opinion.svg" class="opinion-image" alt="">

            </div>
        </div>
        <img src="./res/wave-haikei.svg" alt="" srcset="" class="opinion-bottom">
    </section>
    <!-----------------------------------opinion-end------------------------------------>

    <!-----------------------------------contact us form------------------------------------>

    <section class="contact" id="contact-sec">
        <div class="contact-title">Hey There !! Wanna Contact Us??</div>
        <form action="/" method="post">
            <div class="form-group">
                <label for="exampleFormControlInput1">Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="name">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" name="email">
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
            </div>
            <button type="submit" name="button" class="btn btn-primary">Send</button>
        </form>
    </section>
    <!-----------------------------------------save-energy------------------------------------------------>
    <section class="save-energy-and-back-to-top">
        <div>
            <h2 class="save-heading">SAVE ENERGY! SAVE GENERATIONS!!</h2>
        </div>
        <div>
            <a href="#"><img class="navigation-image navigation-image-top" src="./res/navigation.png" alt=""
                    srcset=""></a>
        </div>
    </section>

<%- include("footer"); -%>